#taw{
    max-width:unset;
}
.bkWMgd .g{
    width: 890px !important;
}
.bkWMgd>div:not([class]){
    width: 860px !important;
}
.bkWMgd{
    margin-left: calc(30% - 200px) !important;
}
#rs, .srg .g .rc .s{
    max-width:unset;
}
#res{
    margin-left:unset !important;
}
.sfibbbc{
    width: 760px;
}
.tsf-p>.logocont{
    padding-left: calc(55% - 65px) !important;
}
.tsf-p>.sfibbbc{
    padding-left: 55% !important;
}
#top_nav #hdtb-s{
    padding-left: 12%;
}
.appbar #extabar #topabar{
    padding-left: 12%;
}
#ires #brs{
    padding-left: calc(30% - 200px);
}
#center_col>#taw{
	margin-left: calc(25% - 200px) !important;
}
#med>#topstuff{
	margin-left: calc(30% - 200px) !important;
}
.mw #rhs {
    margin-left: calc(35% + 670px);
}
.mw #rhs{   
    display:none;
}
@media screen and (min-width:1800px){   
  .mw #rhs{   
    display:block !important;
  }   
}